<h1 class="users_index_header">Show all users</h1>
<div class="users_wrapper">
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="user_index_main_container">
      <%= image_tag(user.photo || "https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=455&q=80", class: "user_image_card") %>
      <div class="user_info_container">
         <h2> <%= user.name %> </h2>
          <div class="user_info__posts_counter">
           Number of posts:
           <%= user.posts_counter || 0 %>
         </div>
      </div>
    </a>
  <% end %>
</div>