.users_index_header {
  text-align: center;
}
.users_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user_index_main_container {
  display: flex;
  gap: 19px;
  align-items: center;
  border: 1px solid black;
  width: 59vw;
  padding-right: 19px;
  margin-bottom: 14px;
}
.user_image_card {
  overflow: hidden;
  height: 100px;
  width: 100px;
}
.user_info_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.2rem;
}
.user_info__posts_counter {
  justify-self: end;
  align-self: flex-end;
}
