.form_container {
  display: flex;
  justify-content: center;
}

.new_post {
  width: 60vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.control_container {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px 0;
}

.form_control {
  flex-grow: 1;
  padding: 3px;
  font-size: 1.2rem;
}

.button_container {
  display: flex;
  justify-content: flex-end;
}

.submit_btn {
  padding: 5px;
  font-size: 1.2rem;
}
